<nav>
  <a class="logo" href="/"><b>QUIZ</b>app</a>
  <div class="nav-links">
    <a class="create-quiz" href="/quizzes/create">+ Create a Quiz</a>
    <a class="my-quizzes" href="/myquizzes">My Quizzes</a>
  </div>
  <div class="authentication">Welcome, user1!</div>
</nav>
