<nav>
  <form id="logo" method="get" action="/">
    <button><b>QUIZ</b>app</button>
  </form>
  <div class="nav-buttons">
    <form method="get" action="" >
      <button name="create-quiz">+ Create a Quiz</button>
    </form>
    <form method="get" action="">
      <button name="my-quizzes">My Quizzes</button>
    </form>
  </div>
  <div class="authentication">
    <span>Welcome, user1!</span>
  </div>
</nav>
