<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1>Have fun! 🥔</h1>

  <!-- https://github.com/pedroagont/master-code-g7/blob/master/07_Backend/09_templates-ejs/views/libros.ejs

    <ul>
      <% quizzes.forEach(quiz=> { %>

        <li>
          <p>Titulo: <%= quiz.titulo %></p>
          <p>Autor: <%= quiz.autor %></p>
        </li>

        <% }); %>
    </ul> -->
</body>

</html>
