<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header'); %>

    <!-- Top nav bar (fixed) -->

    <!-- Page-specific (main) content here -->
    <main>
      <!-- Quiz container -->
      <section class="quizzes-container">
        <% quizzes.forEach(quiz=> { %>

          <article class="quiz">
            <div class="quiz-info">
              <p>
                <%= quiz.quiz_name %>
              </p>
              <p>created by <%= quiz.user_id %>
              </p>
            </div>
            <div class="quiz-attempt">
              <a href="/quizzes/<%= quiz.id %>">
                <i class="fas fa-play-circle"></i>
                <p>Attempt quiz</p>
              </a>
            </div>
          </article>

          <% }); %>



      </section>
    </main>
</body>

</html>
