nav {
  display: flex;
  align-items: center;
  top: 0;
  position: fixed;
  background-color:rgb(91, 211, 121);
  width: 100%;
  height: 7%;
  font-size: 1.2rem;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");

  a {
    color: black;
    text-decoration: unset;
  }
}

.logo {
  margin-left: 1.5%;
  margin-right: 2.5%;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

.nav-links {
  display: flex;
  width: 45rem;
}

.create-quiz {
  margin-right: 2.5%;
}

.authentication {
  display: flex;
  margin-left: auto;
  margin-right: 1.5%;
}
