.quizzes-container {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.quiz {
  display: flex;
  width: 150%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgb(233, 230, 230);
  margin-bottom: 10%;
  margin-left: -20%;
}

.quiz-info {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 1%;
}

.quiz-attempt {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1.5%;
  cursor: pointer;

  a {
    color: inherit;
    text-decoration: unset;
  }

  i {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  #play-icon {
    font-size: 3rem;
    margin-top: 1rem;
    border-top: 1rem;
  }
}
