@mixin nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  top: 0;
  position: fixed;
  background-color:rgb(91, 211, 121);
  width: 100%;
  height: 7%;
  font-size: 1.2rem;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");

  button {
    @include nav-button();
  }
}

#logo button {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
  font-family: "Montserrat";
}

.nav-buttons {
  margin-left: 1.5%;
}

.authentication {
  display: flex;
  margin-left: auto;
  margin-right: 1.5%;
}
