.quiz-results {
  width: 80%;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 2rem;
    width: 126%;
    margin-left: -13%;
    padding-bottom: 3rem;
  }
}

.quiz-results-name {
  font-weight: normal;
  margin-right: 2rem;
}

.try-again-link {
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  background-color: rgb(206, 216, 208);
  cursor: pointer;
}

.result-info {
  background-color: rgb(91, 211, 121);
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");

  i {
    font-size: 7rem;
  }

  a {
    text-decoration: unset;
    color: black;
  }
}
