.quiz-create {
  display: flex;
  justify-content: center;
  width: 70%;

  form {
    width: 70%;
  }
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .page-title {
    font-size: x-large;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .quiz-title {
    width: 50%;
  }
}

.questions-container {
  display: flex;
  flex-direction: column;
}

.question-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 223, 223);
  margin-bottom: 1.5rem;
  padding: 1%;

  input {
    margin-bottom: 0.7rem;
  }
}

.question-input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.answer-input {
  margin-left: 1.5rem;
}

footer {
  button {
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
  }

  .add-question-bttn {
    background-color: rgb(59, 59, 190);
  }

  .create-quiz-bttn {
    background-color: rgb(91, 211, 121);;
  }
}
