.quiz-new {
  width: 80%;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10rem;
    font-size: 2rem;
    width: 126%;
    margin-left: -13%;
    padding-top: 1%;
    padding-bottom: 4%;
  }
}

.quiz-new-name {
  font-weight: normal;
  margin-right: 2rem;
}

.quiz-new header i {
  font-size: 7rem;
  color: #7bda8f;
}

.share-quiz {
  background-color: rgb(91, 211, 121);
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");
  width: 100%;
  text-align: center;

  div {
    margin-left: 12%;
    margin-right: 7%;
  }

  i {
    font-size: 7rem;
  }

  a {
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    background-color: #bae7bc;
  }
  #confettis {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .confetti {
    left: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    transform-origin: left top;
    animation: confetti 5s ease-in-out -2s infinite;
  }
  @keyframes confetti {
    0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
      transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
      transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
      transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
  }
}
